/* General font */
.cursive-font {
  font-family: "Cedarville Cursive", cursive;
  font-weight: 400;
  font-style: normal;
}

/* TOP SECTION */
.top {
    min-height: 100vh;
    background: url(./assets/background.png);
    margin-top: 0px !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.top-heading {
    padding-top: 120px;
    color: yellow !important;
}

.hero-bg {
    margin-top: auto;
    width: 100%;
    max-width: 500px;
    height: auto;
}

/* ABOUT SECTION */
.my-pic {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

.bio {
    color: yellow;
    font-size: 30px;
}

.middle-heading {
    text-align: center;
    margin-bottom: 50px;
}

.abt-me {
    text-align: center;
    margin-top: 20px;
    padding: 0 20px;
}

/* SKILLS SECTION */
.last-heading {
    margin-top: 100px;
    text-align: center;
    color: brown;
    margin-bottom: 50px;
}

/* Left images in skills */
.gif-image,
.gaming-img {
    width: 220px;
    height: 200px;
    float: left;
    margin-left: 300px;
}

/* Text beside images */
.skill-text {
    max-width: 300px;
    margin: 0 auto;
    padding: 10px;
}

.gaming-section {
    clear: both;
    margin-top: 100px;
}

/* FOOTER */
.footer {
    clear: both;
    background: linear-gradient(to top, #f24b00, #c21d63);
    margin-top: 200px !important;
    margin-bottom: 0px !important;
}

/* --------------------------------------------------------------- */
/* RESPONSIVE FIXES */
/* --------------------------------------------------------------- */
/* below this everything done by chatgpt and above done by me. */

/* For tablets and mobile devices */
@media (max-width: 992px) {
    
    .gif-image,
    .gaming-img {
        float: none;
        margin: 20px auto;
        display: block;
    }

    h2 {
        text-align: center !important;
        margin-left: 0 !important;
    }

    .skill-text {
        max-width: 90%;
        text-align: center;
    }
}

/* For small devices (phones) */
@media (max-width: 576px) {

    .top-heading {
        padding-top: 60px;
        font-size: 32px;
    }

    .bio {
        font-size: 22px;
    }

    .gif-image,
    .gaming-img {
        width: 70%;
        height: auto;
    }

    .my-pic {
        width: 150px;
        height: 150px;
    }

    .abt-me {
        font-size: 16px;
        padding: 0 15px;
    }
}
